<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Mi Carrito - GameZone</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>

<body>

<header class="topbar">
    <div class="logo">🎮 GAMEZONE</div>

    <nav class="nav-links">
        <a th:href="@{/}">Tienda</a>
        <a th:href="@{/biblioteca}">Biblioteca</a>
        <a th:href="@{/carrito}">Carrito</a>
    </nav>
</header>

<main class="library-container">

    <h1>🛒 Mi Carrito</h1>

    <p class="library-subtitle">
        Juegos agregados antes de comprar
    </p>

    <div class="empty-message" th:if="${#lists.isEmpty(carrito.items)}">
        Tu carrito está vacío.
    </div>

    <div class="library-list" th:if="${!#lists.isEmpty(carrito.items)}">

        <div class="library-item" th:each="item : ${carrito.items}">

            <div class="library-icon">🎮</div>

            <div class="library-info">
                <h3 th:text="${item.nombreJuego}"></h3>

                <p>
                    Cantidad:
                    <span th:text="${item.cantidad}"></span>
                </p>
            </div>

            <div>
                <div class="library-price">
                    S/
                    <span th:text="${#numbers.formatDecimal(item.subtotal,1,2)}"></span>
                </div>

                <br>

                <form th:action="@{/carrito/eliminar/{id}(id=${item.id})}"
                      method="post">

                    <input type="hidden"
                           th:name="${_csrf.parameterName}"
                           th:value="${_csrf.token}">

                    <button class="delete-btn" type="submit">
                        Quitar
                    </button>
                </form>
            </div>

        </div>

    </div>

    <br>

    <h2>
        Total:
        S/
        <span th:text="${#numbers.formatDecimal(total,1,2)}"></span>
    </h2>

<form th:if="${!#lists.isEmpty(carrito.items)}"
      th:action="@{/checkout}"
      method="get">

    <button class="buy-btn" type="submit">
        Ir a pagar
    </button>
</form>

</main>

</body>

</html>